# binaries
.idea
.vscode/
.DS_Store
diskplugin.csi.alibabacloud.com
nasplugin.csi.alibabacloud.com
ossplugin.csi.alibabacloud.com
build/all/csiplugin-connector
build/all/nsenter
build/oss/csiplugin-connector
build/lvm/lvmplugin.csi.alibabacloud.com
build/nsenter
build/Dockerfile
alibaba-cloud-csi-driver
