# binaries
.idea
.vscode/
.qoder/
.DS_Store
diskplugin.csi.alibabacloud.com
nasplugin.csi.alibabacloud.com
ossplugin.csi.alibabacloud.com
build/all/csiplugin-connector
build/oss/csiplugin-connector
build/lvm/lvmplugin.csi.alibabacloud.com
build/Dockerfile
/alibaba-cloud-csi-driver

bin
