controller:
  enabled: true
  replicas: 2

plugin:
  enabled: true

logging:
  format: text  # json is recommended if sls is enabled
  sls:
    enabled: false
    project:
      name: null  # default to k8s-log-<CLUSTER_ID>
    logstore:
      name: alibabacloud-csi-plugin

monitoring:
  plugin:
    enabled: false
  controller:
    enabled: false

csi:
  disk:
    enabled: true
    controller:
      enabled: true
  nas:
    enabled: true
    controller:
      enabled: true
  oss:
    enabled: true
    controller:
      enabled: true
  local:
    enabled: false
    controller:
      enabled: true
  bmcpfs:
    enabled: false
    controller:
      enabled: true

nodePools:
  default:
    pluginname: csi-plugin
    nodeSelectorTerms:
      - matchExpressions:
        - key: type
          operator: NotIn
          values:
            - virtual-kubelet

defaultStorageClass:
  enabled: true

volumeSnapshot:
  # These are shared by all CSI drivers that support snapshots.
  # Disable if you manage them elsewhere.
  controller:
    enabled: true

deploy:
  kubeletRootDir: /var/lib/kubelet

  # By default, the controller server does not delete NAS subpaths when DeleteVolume, that means
  # the files created in the volume will remain in the filesystem after PV deleted.
  # You can set "withStorageController" to true in ACK clusters with storage-operator addon installed, 
  # then the controller server will patch a finalizer on NAS subpath-type PV when DeleteVolume 
  # and the storage-controller will handle the cleanup of the subpath in NAS filesystem.
  withStorageController: false

  ramToken: v2
  # Which namespace holds ossfs pods
  fuseNamespace: ack-csi-fuse

  featureGates: ""   # only for alpha feature
  privateCloud: false
  ecsEndpoint: null  # most useful on private cloud
  stsEndpoint: null  # most useful on private cloud
  nasEndpoint: null  # most useful on private cloud

  ack: true  # deployed on managed Alibaba Cloud Container Service for Kubernetes (ACK)
  ecs: true  # use Alibaba Cloud Elastic Compute Service (ECS) for Node

  # Possible values:
  #   - public: has access to Internet
  #   - vpc: has access to Alibaba Cloud Virtual Private Cloud (VPC)
  #   - null: use vpc for ECS, SDK defaults otherwise
  network: null
  clusterID: null  # will be injected on installation on ACK
  regionID: null  # useful when deploying on non-ECS, but need to access Alibaba Cloud OpenAPI

  # To access Alibaba Cloud OpenAPI in self-deployed Kubernetes cluster, use a Secret with "id" and "secret" set.
  accessKey:
    enabled: false
    secretName: csi-access-key
    idKey: id # the key of AccessKey id in the k8s Secret
    secretkey: secret # the key of AccessKey secret in the k8s Secret

images:
  registry: null
  registryVPC: null
  controller:
    repo: acs/csi-plugin
    tag: "v1.33.4-576836c-aliyun"
  plugin:
    repo: acs/csi-plugin
    tag: "v1.33.4-576836c-aliyun"
  pluginInit:
    repo: acs/csi-plugin
    tag: "v1.33.4-576836c-aliyun-init"
  localController:
    repo: acs/local-csi-driver
    tag: "v0.2.1"
  localPlugin:
    repo: acs/local-csi-driver
    tag: "v0.2.1"
  externalAttacher:
    repo: acs/csi-attacher
    tag: "v4.9.0-aliyun"
  externalProvisioner:
    repo: acs/csi-provisioner
    tag: "v5.3.2-aliyun"
  externalResizer:
    repo: acs/csi-resizer
    tag: "v1.14.0-aliyun"
  externalSnapshotter:
    repo: acs/csi-snapshotter
    tag: "v8.1.1-aliyun"
  externalSnapshotController:
    repo: acs/snapshot-controller
    tag: "v8.1.1-aliyun"
  pluginRegistrar:
    repo: acs/csi-node-driver-registrar
    tag: "v2.14.0-aliyun"
  ossfs:
    repo: acs/csi-ossfs
    tag: "v1.91.8.ack.2-98ce9e9"
  ossfs2:
    repo: acs/csi-ossfs2
    tag: "v2.0.2.ack.3-f759bcd"

# List of image pull secrets to use for pulling images.
imagePullSecrets: [ ]
